body
{
    min-width: 295px;

    /* background-color: gray; */
    background-image: url("fond4.png");
    background-repeat: no-repeat;
    background-size: 1800px;

    color: #ffffff;
    text-align: center;
}


#contenaire
{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px auto 0 auto;
    /* background-color: #424242; */
    background-color: rgba(11, 11, 11, 0.52);

    border: 5px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 60px #7afeff;

}

#scores
{
    width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    padding: 30px 0 30px auto;

   /* display: none; */

    text-align: center;
    background-color: rgba(11, 11, 11, 0.52);
    font-size: 40px;
    font-family: Verdana;

    border: 5px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px #7afeff;
}


#Quiz
{
    margin: auto;
    text-align: center;
    width: 80%;
    height: 80%;
    padding: 10px 0 30px 0;

    /* background-color: rgba(0, 0, 0, 0.51); */
}

#logo
{
    width: 300px;
    height: 50px;
    margin: 20px auto 20px auto;
    border: 5px;
    border-color: white;
}

#Question
{
    width: 75%;
    height: 20%;

    margin: auto auto 20px auto;
    padding: 10px 30px 10px 30px;

    background-color: rgba(0, 0, 0, 0.81);
    box-shadow: 0 0 10px #7afeff;
    font-size: 20px;
    border-radius: 50px;
}



.btn_reponse
{
    width: 250px;
    height: 70px;
    margin: 10px 5px 10px 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    background-text: test;
    background-color: rgba(203, 203, 0, 0.8);
    font-size: 20px;
    border-radius: 50px;

}





/* Flou */
/*
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.blur:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}
*/

/* Flash */
.flash:hover {
    opacity: 5;
    -webkit-animation: flash 0.5s;
    animation: flash 0.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 2560px) and (max-width: 1440px) {
    .body {

    }
}
